src/flows/Email_Assignment_Final-6.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>Set Case Status to Awaiting Customer Response</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case_Lookup</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <name>CaseId</name>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_2_A1</name>
        <label>Assign Case to TES Queue</label>
        <locationX>200</locationX>
        <locationY>200</locationY>
        <actionName>Assign_to_TES_queue</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <name>CaseId</name>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_3_A1</name>
        <label>Assign Case to THE Queue</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Assign_to_THE_Queue</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <name>CaseId</name>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_4_A1</name>
        <label>Set Case status to Reopened</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <actionName>Cass_Lookup_Reopened_Rases</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myRule_4_A2</targetReference>
        </connector>
        <inputParameters>
            <name>CaseId</name>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_4_A2</name>
        <label>Assign to TES Queue</label>
        <locationX>400</locationX>
        <locationY>300</locationY>
        <actionName>Assign_to_TES_queue</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <name>CaseId</name>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_5_A1</name>
        <label>Set case statues to Reopened</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Cass_Lookup_Reopened_Rases</actionName>
        <actionType>flow</actionType>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <inputParameters>
            <name>CaseId</name>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_5_A2</name>
        <label>Assign to THE Queue</label>
        <locationX>500</locationX>
        <locationY>300</locationY>
        <actionName>Assign_to_THE_Queue</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <name>CaseId</name>
            <value>
                <elementReference>myVariable_current.ParentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>myDecision</name>
        <label>Primary Decision</label>
        <locationX>250</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>(3 OR 4) AND (1 OR 2) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Services (Email - TES)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Services (Email - THE)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.FromAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>voc.noreply@tesglobal.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Associated case is of Zuora Record type</label>
        </rules>
        <rules>
            <name>myRule_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Services (Email - TES)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_2_A1</targetReference>
            </connector>
            <label>E-mail sent to customer is replied to</label>
        </rules>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Services (Email - THE)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Assign new Emails to THE queue</label>
        </rules>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Services (Email - TES)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Parent.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Reopen closed TES case if new email is received</label>
        </rules>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_current.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Services (Email - THE)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Parent.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_current.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Reopen closed THE case if new email recieved</label>
        </rules>
    </decisions>
    <label>Email Assignment Final V6</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>EmailMessage</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
